#!/usr/bin/env sh
set -eu
DOTFILES_HOST="{{ .host }}"
export DOTFILES_HOST
package_args=""
if [ "${DOTFILES_INSTALL_GUI:-}" = "1" ]; then
  package_args="--gui"
fi
"{{ .chezmoi.sourceDir }}/scripts/packages.sh" $package_args
