"*":
  "activate-power-mode":
    comboMode:
      enabled: false
      multiplier: false
    particles:
      colours:
        randomType: "all"
      effect: "default"
      spawnCount:
        max: 25
        min: 10
    playAudio:
      audioclip: "../audioclips/typewriter.wav"
      enabled: true
      volume: 0.1
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      enabled: false
      maxIntensity: 2
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      genAccent: true
      paintCursor: true
      predefinedColor: "Blue"
    tabs:
      stretchedTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "markdown-preview"
      "activate-power-mode"
      "language-rust-bundled"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
    titleBar: "custom"
    uriHandlerRegistration: "always"
  editor:
    fontFamily: "Monaco, Source Code Pro, Menlo, Ubuntumono, DejaVuSansMono, consolas"
    fontSize: 16
    preferredLineLength: 100
    showIndentGuide: true
  "exception-reporting":
    userId: "e7f39858-e46d-76b9-bc52-816f0314595a"
  "git-blame":
    columnWidth: 250
  "git-diff-details":
    enableSyntaxHighlighting: true
  "git-plus":
    commits:
      verboseCommits: true
  "markdown-preview-plus":
    useGitHubStyle: true
  "one-dark-ui":
    fontSize: 14
  "relative-numbers":
    showAbsoluteNumbers: true
  "seti-ui":
    compactView: true
  "spell-check":
    useLocales: false
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "sync-settings":
    _lastBackupHash: "555bf1e04de9f5b63d93b89a057a6ae14b64d50b"
    gistId: "adcb80aa3f41b33f8bb91f51240525dc"
    personalAccessToken: "581a9bc38b2a1532d17235fcbbc5fe4f646255bb"
  "tab-switcher":
    fadeInDelay: 0
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    defaultScrollRowsOnMiniScroll: 2
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 300
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 300
    smoothScrollOnMiniScroll: true
    smoothScrollOnRedrawCursorLine: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
